@model IEnumerable<LogInClient.Models.LogIn>

@{
    ViewData["Title"] = "Index";
}


<div class="loginbox">
    <h1>Login</h1>
    <form>
        <p>Username</p>
        <input type="text" name ="" placeholder="Enter Username">
        <p>Password</p>
        <input type ="text" name = "" placeholder = "Enter Password">
        <input type="submit" name ="" value="Login"> <br>
        
        <a href="Create">Forgot Password</a><br>
    </form>
    <!-- Forgot Password anchor is wrong-->
</div>
<a asp-action="Create">Register Here</a>